{% extends "Sbase.html" %}

{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
<div class="container">
  <div class="card p-5">
    <h1 class="mb-5">Edit Store Profile</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="{{ form.store_name.id_for_label }}" class="form-label">Store Name</label>
        {{ form.store_name }}
      </div>
      <div class="mb-3">
        <label for="{{ form.store_address.id_for_label }}" class="form-label">Store Address</label>
        {{ form.store_address }}
      </div>
      <div class="mb-3">
        <label for="{{ form.store_image.id_for_label }}" class="form-label">Store Image</label>
        {{ form.store_image }}
      </div>
      <div class="mb-3">
        <label for="{{ form.qrcode_image.id_for_label }}" class="form-label">QR Code Image</label>
        {{ form.qrcode_image }}
      </div>
      <button type="submit" class="btn btn-primary" style="background-color: #faac36; border-color: #faac36;">Make Change</button>
      <a href="/seller/store-profile" class="btn btn-bg-secondary" style="background-color: lightgrey; border-color: lightgrey;">Back</a>
    </form>
  </div>
</div>
{% endblock %}
