{% extends "Sbase.html" %}
{% load static %}
{% block title %}
<title> Edit product </title>
{% endblock %}

{% block content %}
<style>
    body {
    position: absolute;
    top: 18%;
    width: 30%;
    height: 20%;
    left: 5%;
  }
  .container .card {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  
  </style>
    <div class="container card">
            <form method="POST" enctype="multipart/form-data">
                <h1 class='box'>Edit Product</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
    </div>
{% endblock %}