{% extends "Sbase.html" %}
{% load static %}
{% block title %}
<title> Order Status </title>
{% endblock %}

{% block content %}
<div class="container mt-5">
</br>
</br>
</br>
</br>
</br>
</br>
</br>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Order Information:</h2>
        </div>
        <div class="card-body">
          <p>Order ID: {{ order }}</p>
          <p>Number of Items: {{ amount }}</p>
          <p>Total Price: {{ total_price }} ฿</p>
          <button type="button" class="btn btn-success" style = "width: 100px ;" >Accept</button>
          <button type="button" class="btn btn-danger" style ="width: 100px ;">Decline</button>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}