{% extends "Sbase.html" %}
{% load static %}
{% block title %}
<title> Order Status </title>
{% endblock %}

{% block content %}
<style>
  body {
  position: absolute;
  top: 18%;
  width: 30%;
  height: 20%;
  left: 5%;
}
</style>
  <div class="col-md-10">
        <table class="table table-striped" style="width: 350%;">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Customer ID</th>
                </tr>
            </thead>
            <tbody>
                {% for carts in carts %}
                <tr>
                    <td><a href="{{carts.order}}">{{ carts.order }}</a></td>
                    <td>{{ carts.customer_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% comment %} </form> {% endcomment %}
  </div>
</form>
{% endblock %}

