{% extends "Sbase.html" %}
{% load static %}
{% block title %}
<title> Order Status </title>
{% endblock %}

{% block content %}
<div class="container mt-5">
</br>
</br>
</br>
</br>
</br>
</br>
</br>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Order Information:</h2>
        </div>
        <div class="card-body">
          <p>Order ID: {{ order }}</p>
          <!-- <p>Customer: {{ user.name }}</p>
          <p>Phone: {{ user.phone }}</p> -->
          <p>Number of Items: {{ amount }}</p>
          <p>Total Price: {{ total_price }} ฿</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}