{% load static %}

<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<head>
{% block title %}
    <title>Seller Site</title>
{% endblock %}
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/" style="font-weight:bold; color: #ec9410;">
            Corgi Store
            <img class="navbar-brand" src="{% static 'media/logo.jpg'%}" alt="" width="100" height="100">
          </a>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Seller Menu</h3>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <style>
              .navbar-nav li a {
                font-size: 18px; /* adjust the font size as desired */
              }
            </style>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/store">Corgi Store</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/seller/store-profile">My Store</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/seller/products">Manage My Store</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Inbox</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'order_status' %}">Order Status</a>
                </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/logout">Log out</a>
              </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
</head>
<body>
{% block content %}
  <p style="position: absolute;top: 45%;left: 27%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);color: white;font-size: 70px;text-align: center; font-size: 30px">Let's make corgi products a love</p>
  <p style="position: absolute;top: 55%;left: 25%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);color: white;font-size: 70px;text-align: center; font-size: 30px">at first sight experience for everyone!</p>
  <img src="{% static 'media/first.jpg'%}" class='img-fluid' alt="" style='width: 100%;height: 1000px;'>
{% endblock %}
</body>
</html>


