{% load static %}

<!DOCTYPE html>
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0; url='/seller/'" />
{% else %}
<html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<head>
    <title>Corgi Store | Seller site</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/logo.jpg'%}" />
    <h1 class='header'> <img class='logo' src="{% static 'media/logo.jpg'%}" alt="" width="100" height="100">
        <span class='title'>Corgi Store|Seller</span>

        </h1>
</head>
<body>
    <form method="POST">
        <h1>Seller Login</h1>
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
            <div><p>don't have account? <a href='register'>Register</a></p></div>
            
    </form>
</body>
<footer>

</footer>
{% endif %}
<html>