{% extends "homepage.html" %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/" style="color: #595959";>Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/categories" style="color: #595959";>Categories</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/cart/checkout/payment-status/" style="color: #595959";>Order Status</a>
</li>
{% endblock %}

{% block right-nav%}
<form class="d-flex" role="search" action="{% url 'search' %}">
  <input class="form-control me-2" type="search" name="q" placeholder="All Product Search" aria-label="Search">
  <button class="btn btn-outline-warning" type="submit" >Search</button>
</form>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/cart" style="color: #595959";>Cart</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/user" style="color: #595959";>My Profile</a>
</li>
{% endblock %}

{% block content %}
  <h1 style="font-size:50px; padding: 20px; margin-left:10px;">Categories</h1>
    <ul>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for category in categories %}
          <div class="col">
            <div class="card" style="background-color:#f8bc63;" >
              <img class="card-img-top" src="{{ category.image.url }}" alt="{{ category.name }}">
                <div class="card-body">
                <h1 class="card-title" style='font-size:40px;'>{{ category.name }}</h2>
                <a class='stretched-link' href="{{ category.id }}"></a>
                </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </ul>
{% endblock %}
