{% extends "homepage.html" %}
{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/" style="color: #595959";>Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="categories" style="color: #595959";>Categories</a>
</li>

<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="login" style="color: #595959";>login</a>
</li>
{% endblock %}
{% block content %}
<h1>{{ category.name }}</h1>
<ul>
  {% for product in products %}
  <div class="card" style="width: 18rem;">
    <img class='card-img-top' src="{{ product.image.url }}" alt="{{ product.name }}">
    <div class="card-body">
      <h2 class="card-title">{{ product.name }}</h2>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: {{ product.price }}</li>
      <li class="list-group-item">Location: {{ product.shop.location }}</li>
      </ul>
    </div>
  </div>
  {% endfor %}
  {% for product in products %}
  <h1>{{ product.category.name }}</h1>
    <ul>
      <li>
        <h2>{{ product.name }}</h2>
        {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" width="300" height="300">
        {% else %}
          <p>No image available</p>
        {% endif %}
        {% if product.category %}
          <p>Category: {{ product.category.name }}</p>
        {% else %}
          <p>No category available</p>
        {% endif %}
        <p>Price: {{ product.price }}</p>
        {% if product.seller %}
          <p>store_name: {{ product.seller.store_name }}</p>
          <p>address: {{ product.seller.address }}</p>
        {% else %}
          <p>No seller information available</p>
        {% endif %}
      </li>
    </ul>
  {% empty %}
    <h1>No products found.</h1>
    {% endfor %}
  </ul>
{% endblock %}
