{% extends "homepage.html" %}
{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/" style="color: #595959";>Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/categories" style="color: #595959";>Categories</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="" style="color: #595959";>Order Status</a>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Chat with Corgi
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="#">littlecorgi Store</a></li>
    <li><a class="dropdown-item" href="#">bokbok Store</a></li>
    <li><a class="dropdown-item" href="#">Puppy Store</a></li>
  </ul>
</li>

{% endblock %}
{% block right-nav%}
<form class="d-flex" role="search" action="{% url 'search' %}">
  <input class="form-control me-2" type="search" name="q" placeholder="All Product Search" aria-label="Search" >
  <button class="btn btn-outline-success" type="submit" >Search</button>
</form>

<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/cart" style="color: #595959";>Cart</a>
</li>

<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/login" style="color: #595959";>My Profile</a>
</li>
{% endblock %}


{% block content %}
<div class="container">
  <h1>Checkout</h1>  
  <br>
  <div class="row">
    <div class="col-md-6">
      <h2>Merchant Info:</h2>
      <p>Store: {{ store_name }}</p>
      <p>Address: {{ store_address }}</p>
    </div>
    <div class="col-md-6">
      <h2>Customer Info:</h2>
      <p>Name: {{ buyer_name }}</p>
      <p>Phone Number: {{ buyer_phone }}</p>
    </div>
  </div>

  <hr>

  <h2>Order Details:</h2>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price/Unit</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      {% for cart in carts %}
        <tr>
          <td><img src="{{ cart.product.image.url }}" alt="" width=100 height=auto></td>
          <td>{{ cart.product }}</td>
          <td>฿ {{ cart.product.price }}</td>
          <td>
            <div class="quantity">
              <p>{{ cart.amount }}</p>
            </div>
          </td>
          <td>฿ {{ cart.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Total (tax included) {{ total }}฿ </h3> 
  <hr>
  <br>
  <h4>Please Scan QR Code for Payment </h4> <br>
  <img src="{{ qrcode_image.url }}" alt="QR Code" width="200" height="200">

  <hr>
  <h2>Upload Payment Receipt:</h2>
  <br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="receipt">Upload Payment Receipt:</label>
      <input type="file" name="receipt" class="form-control-file" id="receipt" onchange="previewImage(event)">
    </div>
    <div id="imagePreview"></div>
  </form>
<br>
  <a href="/" class="btn btn-sm btn-success col-lg-3" style="font-size: 16px; background-color: #f8bc63;  border-color:#f8bc63; padding:10px; width: 210px; position: relative; ">Confirm Payment</a>
</div>
<script>
  function previewImage(event)
  {
    var reader = new FileReader();
    reader.onload = function()
    {
      var output = document.getElementById('imagePreview');
      output.innerHTML = '<img src="' + reader.result + '" width="200" />';
    }
    reader.readAsDataURL(event.target.files[0]);
  }
  </script>

{% endblock %}



