{% extends "homepage.html" %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/" style="color: #595959";>Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/categories" style="color: #595959";>Categories</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/cart/checkout/payment-status/" style="color: #595959";>Order Status</a>
</li>
{% endblock %}

{% block right-nav%}
<form class="d-flex" role="search" action="{% url 'search' %}">
  <input class="form-control me-2" type="search" name="q" placeholder="All Product Search" aria-label="Search" >
  <button class="btn btn-outline-success" type="submit" style="color: #f8bc63; border-color: #f8bc63;">Search</button>
</form>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/cart" style="color: #595959";>Cart</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/edit_profile/" style="color: #595959";>My Profile</a>
</li>
{% endblock %}

{% block content %}
  
    <form method="post">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title text-center mb-4">Edit Profile</h1>
                <form method="POST" action="">
                  {% csrf_token %}
                  {{ form.username.label_tag }}
                  {{ form.username }}
                  <br><br>
                  {{ form.first_name.label_tag }}
                  {{ form.first_name }}
                  <br><br>
                  {{ form.last_name.label_tag }}
                  {{ form.last_name }}
                  <br><br>                 
                  {{ form.phone.label_tag }}
                  {{ form.phone }}
                  <br><br>
                  {{ form.email.label_tag }}
                  {{ form.email }}
                  <br><br>
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-secondary" style="border-color: #ec9410; background-color: #ec9410;">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
