{% extends "homepage.html" %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/" style="color: #595959;">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/categories" style="color: #595959;">Categories</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="" style="color: #595959";>Chat with Corgi</a>
</li>
{% endblock %}

{% block right-nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/cart" style="color: #595959";>cart</a>
</li>

<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/login" style="color: #595959";>My Profile</a>
</li>
{% endblock %}

{% block content %}
{% for product in products %}
  <div class="card mb-3" style="border:0px;">
    <div class="row g-0">
      <div class="col-md-4">        
        <img class="img-fluid rounded-start" src="{{ product.image.url }}" alt="{{ product.name }}" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title" style="font-family: Arial, sans-serif;">{{ product.name }}</h2>
          <p class="card-text">{{ product.category.name }}</p>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Price: {{ product.price }} ฿</p>
          <p class="card-text">Store name: {{ product.seller.store_name }} Store</p>
          <p class="card-text">Address: {{ product.seller.store_address }}</p>
        </div>
        <div class="card-footer">
          <p class="card-text">
            <button type="button" class="btn btn-sm btn-success col-lg-3" style="font-size: 16px; background-color: #f8bc63; border-color:#f8bc63; padding:15px;" data-bs-toggle="modal" data-bs-target="#Add-to-Cart-modal-{{ product.id }}">Add to Cart</button>
            
            <!-- store พังอยู่ลิ้งไม่ได้จ้าาาาา -->
            <!-- <button type="button" class="btn btn-sm btn-success col-lg-3" style="font-size: 16px; background-color: #f8bc63;  border-color:#f8bc63; padding:15px;" >Go to Store</button> -->
            <a href="/store/store/{{ product.seller.store_name }}" class="btn btn-sm btn-success col-lg-3" style="font-size: 16px; background-color: #f8bc63;  border-color:#f8bc63; padding:15px;">Go to Store</a>
            <div class="modal fade" id="Add-to-Cart-modal-{{ product.id }}" tabindex="-1" aria-labelledby="Add-to-Cart-modal-{{ product.id }}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="Add-to-Cart-modal-{{ product.id }}-label">Buy {{ product.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- <form method="post">
                      {% csrf_token %}
                      <label for="quantity">Quantity:</label>
                      <input type="number" name="quantity" value="1" min="1">
                      <button type="submit" class="btn btn-primary">Add to cart</button>
                    </form> -->
                    <form method="post">
                      {% csrf_token %}
                      {% comment %} {{ form.as_p }} {% endcomment %}
                      <input type="hidden" name="product_id" value="{{ product.id }}">
                      <input type="hidden" name="price" value="{{ product.price }}">
                      <label for="amount">Quantity:</label>
                      <input type="number" name="amount" value="1" min="1">
                      <button type="submit" class="btn btn-primary">Add to cart</button>
                    </form>
                  </br>
                    <a class="btn btn-secondary" href="/store/categories">Continue Shopping</a>
                  </div>
                </div>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>


  {% endfor %}
{% endblock %}
