{% extends "homepage.html" %}
{% block content %}
{% for product in products %}
  <h1>{{ product.category.name }}</h1>
    <ul>
      <li>
        <h2>{{ product.name }}</h2>
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="300" height="300">
        <p>Category: {{ product.category.name }}</p>
        <p>Price: {{ product.price }}</p>
        <p>store_name: {{ product.seller.store_name }}</p>
        <p>address: {{ product.seller.address }}</p>
      </li>
    </ul>
  {% empty %}
    <h1>No products found.</h1>
  {% endfor %}
{% endblock %}
