{% extends "homepage.html" %}
{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/" style="color: #595959";>Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/store/categories" style="color: #595959";>Categories</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="" style="color: #595959";>Order Status</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="" style="color: #595959";>Chat with Corgi</a>
</li>
{% endblock %}
{% block right-nav%}
<form class="d-flex" role="search" action="{% url 'search' %}">
  <input class="form-control me-2" type="search" name="q" placeholder="All Product Search" aria-label="Search" >
  <button class="btn btn-outline-success" type="submit" >Search</button>
</form>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/store/cart" style="color: #595959";>cart</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/store/login" style="color: #595959";>login</a>
  </li>
  {% endblock %}

{% block content %}
<h1>{{ category.name }}</h1>
<ul>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for product in products %}
  <div class="col">
  <div class="card" style="width: 18rem; padding:10px; border:0px;">
    {% if product.image %}
    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
    {% else %}
      <p>No image available</p>
    {% endif %}
    <div class="card-body">
      <h2 class="card-title">{{ product.name }}</h2>
      <ul class="list-group list-group-flush">
      <li class="list-group-item"><h5>        
        {% if product.category %}
        <p>{{ product.category.name }}</p>
        {% else %}
        <p>No category available</p>
        {% endif %}
        </h5></li>
      <li class="list-group-item">Price: {{ product.price }} ฿</li>
      <li class="list-group-item">     
        {% if product.seller %}
          <p>Store name: {{ product.seller.store_name }} Store</p>
          <p>Address: {{ product.seller.address }}</p>
        {% else %}
          <p>No seller information available</p>
        {% endif %}
      </li>
      </ul>
      <a class="stretched-link" href="{{ product.name }}"></a>
    </div>
    </div>
  </div>
  {% endfor %}
  </div>
  {% for product in products %}
  {% empty %}
    <h1>No products found.</h1>
    {% endfor %}
{% endblock %}
