{% extends "homepage.html" %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/" style="color: #595959";>Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="categories" style="color: #595959";>Categories</a>
</li>
{% endblock %}

{% block right-nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/login" style="color: #595959;";>login</a>
</li>
{% endblock %}

{% block content %}
{% for store in stores %}
    <ul>
            <img src="{{ store.store_image.url }}" class="img-fluid" alt="{{ store.store_name }}" width="750" height="450">
            <h1>{{ store.store_name }}</h1>
            <!-- <img src="{{ store.store_image.url }}" alt="{{ store.store_name }}", width="750" height="450"> -->
            <p>Phone: {{ store.phone }}</p>
            <p>Address: {{ store.address }}</p>
    </ul>
    {% empty %}
    <h2>No products found.</h2>
    {% endfor %}
{% endblock %}