{% extends "homepage.html" %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/" style="color: #595959";>Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="categories" style="color: #595959";>Categories</a>
</li>
{% endblock %}

{% block right-nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/login" style="color: #595959;";>login</a>
</li>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        {% for store in stores %}
        <h1 class="text-center">{{ store.store_name }} Store information</h1>
        <h5 class="text-center">Please feel free to talk with us!</h5>
            <hr>    
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid rounded" src="{{ store.store_image.url }}" alt="{{ store.store_name }}" >
                    </div>
                    <div class="col-md-8">
                        <h5>Phone:</h5>
                            <p>{{ store.phone }}</p>
                            <hr>
                        <h5>Location:</h5>
                            <p>{{ store.store_address }}</p>
            <hr>
        <button type="button" class="btn btn-sm btn-success col-lg-3" style="font-size: 16px; background-color: #f8bc63; border-color:#f8bc63; padding:15px;" data-bs-toggle="modal" data-bs-target="#Add-to-Cart-modal-{{ product.id }}">Contact Store</button>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endblock %}



