{% extends "homepage.html" %}
{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/" style="color: #595959";>Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="categories" style="color: #595959";>Categories</a>
</li>
{% endblock %}

{% block right-nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/login" style="color: #595959;";>login</a>
</li>
{% endblock %}

{% block content %}
  <h1>{{ store.store_name }}</h1>
  <img src="{{ store.store.url }}" alt="{{ store.store_name }}">
  <p>Phone: {{ store.phone }}</p>
  <p>Address: {{ store.address }}</p>
  <h2>Products:</h2>
  <ul>
  {% for product in store.sellerproduct_set.all %}
    <li>
      <h3>{{ Seller.store_name }}</h3>
      {% if product.image %}
        <img src="{{ store.store.url }}" alt="{{ store.store_name }}" width="300" height="300">
      {% else %}
        <p>No image available</p>
      {% endif %}
      {% if product.category %}
        <p>Category: {{ product.category.name }}</p>
      {% else %}
        <p>No category available</p>
      {% endif %}
      <p>Price: {{ product.price }}</p>
    </li>
  {% empty %}
    <h3>No products found.</h3>
  {% endfor %}
  </ul>
{% endblock %}