
{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">Edit Profile</h1>
          <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
              {{ cust.first_name.label_tag }}
              {{ cust.first_name }}
            </div>
            <div class="form-group">
              {{ cust.last_name.label_tag }}
              {{ cust.last_name }}
            </div>
            <div class="form-group">
              {{ cust.email.label_tag }}
              {{ cust.email }}
            </div>
            <div class="form-group">
              {{ cust.phone.label_tag }}
              {{ cust.phone }}
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">llll</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
