{% extends "profile.html" %}

{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center mb-4" style="color: #ec9410; ">Edit Profile</h1>
          <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group mb-3">
              {{ cust.first_name.label_tag }}
              {{ cust.first_name }}
            </div>
            <div class="form-body mb-3">
              {{ cust.last_name.label_tag }}
              {{ cust.last_name }}
            </div>
            <div class="form-group mb-3">
              {{ cust.email.label_tag }}
              {{ cust.email }}
            </div>
            <div class="form-group mb-3">
              {{ cust.phone.label_tag }}
              {{ cust.phone }}
            </div> 
            <div class="form-group mb-3">
              {{ cust.address.label_tag }}
              {{ cust.address }}
            </div> 
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary" style="background-color:  #f8bc63; border:  #f8bc63;">Make Change</button>
              <input type="hidden" name="previous_url" value="{{ request.META.HTTP_REFERER }}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
