{% load static %}

<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<head>
    <title>Corgi Store | Seller site</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/logo.jpg'%}" />
    <h1 class='header'> <img class='logo' src="{% static 'media/logo.jpg'%}" alt="" width="100" height="100">
        <span class='title'>Corgi Store|Seller</span>
    </h1>
</head>
<body>
    <img class='img-fluid' src="{% static 'media/corgi_main.jpg'%}" alt="">
</body>
