{% load static %}

<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<head>
    <title>Corgi Store | Cutest Store</title>
    <link rel="icon" type="image/x-icon" href="{% static 'media/logo.jpg'%}" />
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-weight:bold; color: #ec9410;"> <img class="navbar-brand" src="{% static 'media/logo.jpg'%}" alt="" width="100" height="100">
        Corgi Store
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% block nav%}
          {% endblock %}
        </ul>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% block right-nav %}
    {% endblock %}
</ul>

    </nav>
</head>
<body>
    {% block content %}
    <img src="{% static 'media/corgi_main.jpg'%}" class='img-fluid' alt="" style='width: 100%;height: 1000px;'>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button onclick="location.href='/store'"
        style="position: absolute;top: 60%;left: 25%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);background-color: #ec9410;color: white;font-size: 50px;padding: 14px 30px;border: none;cursor: pointer;border-radius: 5px;" type="button">
            Store</button>
        <button onclick="location.href='/seller/login'"
        style='position: absolute;top: 60%;left: 75%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);background-color: #ec9410;color: white;font-size: 50px;padding: 14px 30px;border: none;cursor: pointer;border-radius: 5px;' type="button">
            Seller</button>
    </div>
    {% endblock %}
</body>
